<div class="ui basic modal">
    <div class="ui icon header">
      <i class="archive icon"></i>
      포켓몬스터 삭제
    </div>
    <div class="content">
      <p>해당 포켓몬스터를 도감에서 삭제하시겠습니까?</p>
    </div>
    <div class="actions">
      <div class="ui red basic cancel inverted button">
        <i class="remove icon"></i>
        No
      </div>
      <div id="delete-btn" class="ui green ok inverted button">
        <i class="checkmark icon"></i>
        Yes
      </div>
    </div>
</div>