<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Do you really want to delete?
    </div>
    <div class="actions">
      <div class="ui black deny button">
        아니요
      </div>
      <div id="delete-btn" class="ui red right labeled icon button">
        네
        <i class="trash icon"></i>
      </div>
    </div>
</div>